<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Signature Pad Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Please draw your signature below.
  </div>
  <div class="{border-style: solid;}">
    <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()">
    </signature-pad>
  </div>
  <p>This is the base64 code of the image:</p>
  <div>
    <textarea rows="4" cols="40">{{imageBase64}}
      </textarea>
  </div>
</ion-content>